# This file regroups all the depencies needed for app
fastapi==0.111.1
fastapi[standard]==0.111.1
pydantic==2.8.2
starlette==0.37.2
SQLAlchemy==2.0.31
python-dotenv==1.0.1
mysqlclient>=2.2.4
requests==2.32.3
python-dotenv==1.0.1
pyodbc==5.2.0