{
  "$schema": "https://www.krakend.io/schema/v2.7/krakend.json",
  "version": 3,
  "endpoints": [
    {
      "endpoint": "/api/v1/",
      "method": "GET",
      "output_encoding": "no-op",
      "backend": [
        {
          "url_pattern": "/api/v1/",
          "method": "GET",
          "encoding": "string",
          "host": [
            "http://127.0.0.1"
          ]
        }
      ]
    },
    {
      "endpoint": "/api/v1/products",
      "method": "GET",
      "output_encoding": "no-op",
      "backend": [
        {
          "url_pattern": "/api/v1/products",
          "method": "GET",
          "encoding": "json",
          "is_collection": true,
          "host": [
            "http://127.0.0.1"
          ]
        }
      ]
    },
    {
      "endpoint": "/api/v1/products/{productId}",
      "method": "GET",
      "output_encoding": "no-op",
      "backend": [
        {
          "url_pattern": "/api/v1/products/{productId}",
          "method": "GET",
          "encoding": "json",
          "host": [
            "http://127.0.0.1"
          ]
        }
      ]
    },
    {
      "endpoint": "/api/v1/products",
      "method": "POST",
      {# "no-op" indique à la gateway de retourner le status code
        retourné par le backend
        Pour un endpoint POST, le status code sera 201 au lieu de 200  #}
      "output_encoding": "no-op",
      "extra_config": {{ endpoint_config | to_json }},
      "backend": [
        {
          "url_pattern": "/api/v1/products",
          "method": "POST",
          "encoding": "json",
          "host": [
            "http://127.0.0.1"
          ],
          "extra_config": {{ backend_config | to_json }}
        }
      ]
    },
    {
      "endpoint": "/api/v1/products/{productId}",
      "method": "PUT",
      "output_encoding": "no-op",
      "extra_config": {{ endpoint_config | to_json }},
      "backend": [
        {
          "url_pattern": "/api/v1/products/{productId}",
          "method": "PUT",
          "encoding": "json",
          "host": [
            "http://127.0.0.1"
          ],
          "extra_config": {{ backend_config | to_json }}
        }
      ]
    },
    {
      "endpoint": "/api/v1/products/{productId}",
      "method": "DELETE",
      "output_encoding": "no-op",
      "extra_config": {{ endpoint_config | to_json }},
      "backend": [
        {
          "url_pattern": "/api/v1/products/{productId}",
          "method": "DELETE",
          "encoding": "json",
          "host": [
            "http://127.0.0.1"
          ],
          "extra_config": {{ backend_config | to_json }}
        }
      ]
    },
    {
      "endpoint": "/api/v1/admin/users",
      "method": "GET",
      "output_encoding": "no-op",
      "extra_config": {{ endpoint_config | to_json }},
      "backend": [
        {
          "url_pattern": "/api/v1/admin/users",
          "method": "GET",
          "encoding": "json",
          "is_collection": true,
          "host": [
            "http://127.0.0.1"
          ],
          "extra_config": {{ backend_config | to_json }}
        }
      ]
    },
    {
      "endpoint": "/api/v1/admin/users/{user_id}",
      "method": "GET",
      "output_encoding": "no-op",
      "extra_config": {{ endpoint_config | to_json }},
      "backend": [
        {
          "url_pattern": "/api/v1/admin/users/{user_id}",
          "method": "GET",
          "encoding": "json",
          "host": [
            "http://127.0.0.1"
          ],
          "extra_config": {{ backend_config | to_json }}
        }
      ]
    },
    {
      "endpoint": "/api/v1/users",
      "method": "POST",
      "output_encoding": "no-op",
      "backend": [
        {
          "url_pattern": "/api/v1/users",
          "method": "POST",
          "encoding": "json",
          "host": [
            "http://127.0.0.1"
          ]
        }
      ]
    },
    {
      "endpoint": "/api/v1/admin/users/{user_id}",
      "method": "PUT",
      "output_encoding": "no-op",
      "extra_config": {{ endpoint_config | to_json }},
      "backend": [
        {
          "url_pattern": "/api/v1/admin/users/{user_id}",
          "method": "PUT",
          "encoding": "json",
          "host": [
            "http://127.0.0.1"
          ],
          "extra_config": {{ backend_config | to_json }}
        }
      ]
    },
    {
      "endpoint": "/api/v1/admin/users/{user_id}",
      "method": "DELETE",
      "output_encoding": "no-op",
      "extra_config": {{ endpoint_config | to_json }},
      "backend": [
        {
          "url_pattern": "/api/v1/admin/users/{user_id}",
          "method": "DELETE",
          "encoding": "json",
          "host": [
            "http://127.0.0.1"
          ],
          "extra_config": {{ backend_config | to_json }}
        }
      ]
    },
    {
      "endpoint": "/api/v1/admin/orders",
      "method": "GET",
      "output_encoding": "no-op",
      "extra_config": {{ endpoint_config | to_json }},
      "backend": [
        {
          "url_pattern": "/api/v1/admin/orders",
          "method": "GET",
          "encoding": "json",
          "is_collection": true,
          "host": [
            "http://127.0.0.1"
          ],
          "extra_config": {{ backend_config | to_json }}
        }
      ]
    },
    {
      "endpoint": "/api/v1/admin/orders/{order_id}",
      "method": "GET",
      "output_encoding": "no-op",
      "extra_config": {{ endpoint_config | to_json }},
      "backend": [
        {
          "url_pattern": "/api/v1/admin/orders/{order_id}",
          "method": "GET",
          "encoding": "json",
          "host": [
            "http://127.0.0.1"
          ],
          "extra_config": {{ backend_config | to_json }}
        }
      ]
    },
    {
      "endpoint": "/api/v1/admin/orders",
      "method": "POST",
      "output_encoding": "no-op",
      "extra_config": {{ endpoint_config | to_json }},
      "backend": [
        {
          "url_pattern": "/api/v1/admin/orders",
          "method": "POST",
          "encoding": "json",
          "host": [
            "http://127.0.0.1"
          ],
          "extra_config": {{ backend_config | to_json }}
        }
      ]
    },
    {
      "endpoint": "/api/v1/admin/orders/{order_id}",
      "method": "PUT",
      "output_encoding": "no-op",
      "extra_config": {{ endpoint_config | to_json }},
      "backend": [
        {
          "url_pattern": "/api/v1/admin/orders/{order_id}",
          "method": "PUT",
          "encoding": "json",
          "host": [
            "http://127.0.0.1"
          ],
          "extra_config": {{ backend_config | to_json }}
        }
      ]
    },
    {
      "endpoint": "/api/v1/admin/orders/{order_id}",
      "method": "DELETE",
      "output_encoding": "no-op",
      "extra_config": {{ endpoint_config | to_json }},
      "backend": [
        {
          "url_pattern": "/api/v1/admin/orders/{order_id}",
          "method": "DELETE",
          "encoding": "json",
          "host": [
            "http://127.0.0.1"
          ],
          "extra_config": {{ backend_config | to_json }}
        }
      ]
    }
  ],
  "output_encoding": "no-op"
}
